<h1>Here are your requests</h1>

<ul>
  <% @requests.each do |request| %>
  <li>
    <p><%= "Brand: #{request.listing.brand}" %></p>
    <p><%= "Model: #{request.listing.model}" %></p>
    <p><%= "Status: #{request.status}" %></p>
    <% if request.status == "Approved" %>
    <p>Congratulations your request has been approved. Please contact the seller via <%= mail_to request.listing.user.email %></p>
    <% end %>
  </li>
  <% end %>
</ul>
