.listings-entries {
  top: 60px;
  right: 0;
  padding-left: 22%!important;
  padding-top: 20px!important;
  padding-right: 20px!important;
}

.listing-filters {
  width: 20%;
  position: fixed;
  top: 60px;
  left: 0;
  float: left;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 15px 20px;
  display: inline-block;
  height: 100vh;
}

.listing-filters .item {
  margin-top: 15px;
}

.listing-filters .checkbox {
  display: block;
}

.listing-card {
  background-color: #FFF;
  border-radius: 8px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 200px;
  margin: 20px 0;
}

.listing-details {
  padding-left: 10px;
  flex-grow: 1;
  padding: 18px;
  color: rgba(0,0,0,0.35)
}

.listing-details h3 {
  margin-top: -10px;
}

.filter-search input[type='search'] {
    border-color: transparent;
    background-color: #e6e6e6;
    font-size: 16px !important;
    padding: 10px;
}

.listing-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  text-align: right;
}
