// Graphical variables
@import "config/variables";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "semantic-ui";

// Your CSS
@import "pages/index.scss";
@import "layout/_footer.scss";
@import "layout/_navbar.scss";
@import "layout/_card.scss";
@import "listings/index.scss";
@import "listings/show.scss";

.main-content {
  padding-top: 60px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  background-color: #f7f7f7;
}

.form-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 60px;
}

.form-container .ui.primary.submit.button {
  margin-top: 20px;
  width: 100%;
}

.form-card{
  background-color: #FFF;
  border-radius: 4px;
  padding: 50px;
}

.light-grey-bg {
  background-color: #f7f7f7;
  padding: 10px 0;
}

.signup-links {
  margin-top: 10px;
  text-align: center;
}
