<div class="card card--big z-1">
  <div style="background-image: url(https://placeimg.com/640/480/nature)" class="card__image"></div>
  <h2 class="card__title">Kangaroo Valley Safari</h2>
  <h3 class="price">1000 €</h3>
  <div class="card__text">
    <div class="year"><i class="fa fa-calendar" aria-hidden="true"></i>
 1999</div>
    <div class="mileage"><i class="fa fa-tachometer" aria-hidden="true"></i> 100.000 km</div>
    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Vienna</div>
  </div>
</div>
