<div class="wrapper footer">
  <div class="ui container">
  <div class="ui three column grid">
    <div class="column">
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a>
    </div>
    <div class="column">
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a>
    </div>
    <div class="column">
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a>
    </div>
  </div>
</div>
