<div class="wrapper footer">
  <div class="ui container">
  <div class="ui grid">
    <div class="five wide column">
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a>
    </div>
    <div class="five wide column">
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a>
    </div>
    <div class="five wide column">
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a><br>
      <a href="">Blah</a>
    </div>
  </div>
</div>
