<div class="wrapper footer">
  <div class="ui container">
  <div class="ui three column grid">
    <div class="column" style="text-align: left;">
      <a href="https://github.com/LukasGutwinski/project_luun" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/LukasGutwinski/project_luun" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/LukasGutwinski/project_luun" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="column">

    </div>
    <div class="column">
      <div style="padding-top: 15px">&copy; 2016 Luun inc.</div>
    </div>
  </div>
</div>
