<div class="navbar">
  <div class="logo"><i class="fa fa-car" aria-hidden="true"></i> Luun</div>

  <div class="ui right cta-buttons">
    <a href="" class="ui yellow button">Post Car</a>
    <a href="" class="ui button">Sign In</a>
  </div>
</div>
