<div class="navbar">
  <div class="logo"><i class="fa fa-car" aria-hidden="true"></i> Luun</div>

  <div class="ui right cta-buttons">
  	<%= link_to 'Post car', new_listing_path, class:'ui yellow button' %>
    <%= link_to 'Sign In', new_user_session_path, class:'ui blue button' %>
  </div>
</div>
